<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <h1>Forget Password</h1>
    {{#if message}}
        <h3>{{message}}</h3>
    {{/if}}

    <form action="" method="post">
       
        <input type="password" name="password" id="password" required placeholder="EnterNew Password"><br><br>
        <input type="hidden" name="user_id" value="{{user_id}}">
        
        <input type="submit" value="Reset Password"> 
        
    </form>
    </div>
    
</body>
</html>
